[core]
	pager = diff-so-fancy | less --tabs=4 -RFX
	excludesfile = /Users/eder/.gitignore_gl
	autocrlf = input
	whitespace = cr-at-eol
[user]
	name = David Eder
	email = eder@amazon.com
[push]
	default = simple
[alias]
	conflicted = !vim +Conflicted
