[core]
	pager = diff-so-fancy | less --tabs=4 -RFX
	excludesfile = /home/eder/.gitignore
[user]
	name = David Eder
	email = eder@amazon.com
[push]
	default = simple
[alias]
	conflicted = !vim +Conflicted
